<div class="d-flex flex-column align-items-center card pb-3" *ngIf="card">
  <picture class="d-flex justify-content-center w-100 rounded picture">
    <img
      class="img-fluid rounded w-100"
      style="background-color: transparent"
      src="{{ card.sprite }}"
      alt=""
    />
  </picture>

  <p class="number p-2">Nº. {{ getOrder(card.order) }}</p>
  <h5 class="name">{{ getCaps(card.name) }}</h5>
  <div class="d-flex">
    <p
      *ngFor="let item of card.types"
      class="d-flex px-4 m-1 rounded type"
      [ngClass]="item.name"
    >
      {{ getCaps(item.name) }}
    </p>
  </div>
</div>
