.scene {
  perspective: 600px;
  max-width: 400px;
  min-width: 200px;
  margin: auto auto 1rem;
}

.card {
  transform-style: preserve-3d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 3px;
}
.card__face {
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.card__face .info {
  position: relative;
  padding: 16px;
  background: white;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}
.card::after {
  display: block;
  content: "";
  clear: both;
}
.card__face--back {
  position: absolute;
}
.card__face--back {
  transform: rotateY(180deg);
}

.card {
  -webkit-box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.number {
  display: flex;
  align-self: flex-start;
  color: var(--light-gray);
  font-family: "Courier New", Courier, monospace;
}

.picture {
  background-color: var(--transparent-gray);
}

.name {
  font-family: "flexo-demi", arial, sans-serif;
}

.type {
  height: min-content;
  width: fit-content;
}

.pkmnInfo {
  font-family: "Courier New", Courier, monospace;
}

.title {
  font-family: "flexo-demi", arial, sans-serif;
}

.buttonInfo {
  background-color: transparent;
  border: none;
  color: var(--light-blue);
}

.grass {
  background-color: var(--grass-green);
}

.poison {
  background-color: var(--venom-purple);
  color: white;
}

.fire {
  background-color: var(--fire-red);
  color: white;
}

.flying {
  background: linear-gradient(var(--flying-blue) 50%, var(--flying-gray) 50%)
    no-repeat;
}

.water {
  background-color: var(--water-blue);
  color: white;
}

.bug {
  background-color: var(--bug-green);
  color: white;
}
.normal {
  background-color: var(--normal-gray);
}
.electric {
  background-color: var(--electric-yellow);
}
.ground {
  background: linear-gradient(var(--ground-yellow) 50%, var(--ground-brown) 50%)
    no-repeat;
}
.fairy {
  background-color: var(--pink-fairy);
}

.fighting {
  background-color: var(--orange-fighting);
  color: white;
}
.psychic {
  background-color: var(--pink-pyschic);
  color: white;
}

.rock {
  background-color: var(--rock-brown);
  color: white;
}

.ice {
  background-color: var(--blue-ice);
}

.ghost {
  background-color: var(--ghost-purple);
  color: white;
}

.dragon {
  background: linear-gradient(var(--blue-dragon) 50%, var(--orange-dragon) 50%)
    no-repeat;
}

.dark {
  background-color: var(--black-dark);
  color: white;
}
