/* You can add global styles to this file, and also import other style files */
:root {
  --light-gray: #bbc6d4;
  --transparent-gray: #F2F2F2;

  --color-blue: #0066e4;
  --color-dark-blue: #004eae;
}
